.students-dashboard-page {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students-dashboard-page__student-img {
  border-radius: 50%;
}