.students-dashboard-page {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.students-dashboard-page__student-table {
  border-spacing: 0;
  font-size: 14px;
  padding: 12px;
}

.students-dashboard-page td {
  padding: 0;
}

.students-dashboard-page__student-info-row {
  cursor: pointer;
}

.students-dashboard-page__student-img-wrapper {

}

.students-dashboard-page__student-img {
  border-radius: 50%;
  width: 50px;
  margin-right: 18px;  
}

.students-dashboard-page__student-name {
  word-wrap: wrap;
}

.students-dashboard-page__attempted {
  padding: 12px;
}

.students-dashboard-page__student-info-row:hover {
  background-color: #ababab;
}

